---
// Component Imports	
import MainLayout from '../../layouts/MainLayout.astro';
const posts = await Astro.glob('./*.md');
---

<MainLayout>

    {posts.map((post, index) =>
    <a href={post.url}>{post.frontmatter.title}</a>
    )}

</MainLayout>