@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --background: #212121;
  --white: #ffffff;
}

html {
  width: 100vw;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  color: #ffffff;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: space-between; */
  justify-content: space-between;
}

.burger {
  display: none;
  cursor: pointer;
}
.close {
  display: none;
  cursor: pointer;
}
main {
  margin-top: 10rem;
}
main div {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.resume {
  margin: 0px 10px;

  width: 60%;
  display: flex;
  justify-content: space-between;
}
.picture img {
  width: 540px;
  height: 310px;
  object-fit: cover;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.buttons > button:first-of-type {
  margin-right: 20px;
}

button {
  margin: 10px 0px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 40px;
  background-color: transparent;
  border-color: var(--white);
}
button a {
  color: var(--white);
  text-decoration: none;
}

@media screen and (max-width: 860px) {
  .buttons {
    justify-content: center;
  }

  .burger {
    display: block;
    margin-right: 10px;
    margin-top: 7px;
  }
  .disapear {
    display: none;
  }
  .appear {
    display: block;
  }
  .close {
    margin-right: 10px;
    margin-top: 7px;
  }
}
